body {
  background-color:rgba(184, 114, 114, 0.884);
}

.container{
  margin-top: 40px;
  margin-left: 30px;
}

.input-control {
  padding: 20px;
  border-radius: 5px;
}

.country-container {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.main-container {
  display: flex;
  align-items: center;
}

